@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #FDFBF5;
  color: #4F4A45;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F1F1F1;
}
::-webkit-scrollbar-thumb {
  background: #A47E3B;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8c6b32;
}
